head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  // Meta, title, CSS, favicons, etc.
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Đăng nhập
  // Bootstrap
  link(href='../vendors/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  // Font Awesome
  link(href='../vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
  // NProgress
  link(href='../vendors/nprogress/nprogress.css', rel='stylesheet')
  // Animate.css
  link(href='../vendors/animate.css/animate.min.css', rel='stylesheet')
  // Custom Theme Style
  link(href='../build/css/custom.min.css', rel='stylesheet')
body.login
  a#signup.hiddenanchor
  a#signin.hiddenanchor
  .login_wrapper
    .animate.form.login_form
      section.login_content
        if errors 
           each error in errors 
            .alert.alert-danger= error
        form(action="/login", method="POST")
          h1 Đăng nhập
          div
            input.form-control(type='text', placeholder='Tên đăng nhập', required='', name="username", value=values ? values.username : "")
          div
            input.form-control(type='password', placeholder='Mật khẩu', required='', name="password", value=values ? values.password : "")
          div
            button.btn.btn-secondary.submit Đăng nhập
          .clearfix
          .separator
            p.change_link
              a.to_register(href='#signup')  Quên mật khẩu?
            .clearfix
            br
            div
              h1
                i.fa.fa-paw
    #register.animate.form.registration_form
      section.login_content
        form(action="/forgottenPassword", method="POST")
          h1 Tìm tài khoản
          div
            input.form-control(type='text', placeholder='Tài khoản', required='', name="username")
          div
            button.btn.btn-info.submit Tìm kiếm
          .clearfix
          .separator
            p.change_link
              a.to_register(href='#signin')  Đăng nhập
            .clearfix
            br
            div
              h1
                i.fa.fa-paw

        